<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />

<Grid>
	RenderTransformOrigin="0.765,0.439">
	<Grid.RowDefinitions>
		<RowDefinition Height="584.04"/>
	</Grid.RowDefinitions>
	<Grid.ColumnDefinitions>
		<ColumnDefinition/>
		<ColumnDefinition Width="0*"/>
	</Grid.ColumnDefinitions>
	<Grid.Background>
		<ImageBrush ImageSource="Assets/tbackground.jpg"/>
	</Grid.Background>
	<Canvas Name="GameCanvas"
			Background="Black" Margin="292,39,253,45" RenderTransformOrigin="1.385,0.428"/>
	<Viewbox
			 Margin="421,44,402,20"
			 ClipToBounds="True"
			 Loaded="GameCanvas_Loaded"/>

	<TextBlock Name="ScoreText"
			   Grid.Row="0"
			   Text="Score: "
			   Margin="351,10,388,550"
			   TextAlignment="Center"/>
	<StackPanel
				VerticalAlignment="Top"
				HorizontalAlignment="Left" Margin="107,182,0,0" Height="67" Width="165">

		<TextBlock Text="Hold"
				   TextAlignment="Center" Width="85" Height="2"/>

		<Image Name="HoldImage"
			   Margin="20"
			   Width="125"/>

	</StackPanel>

	<StackPanel Margin="595,182,154,351">
		<TextBlock Text="Next"
				   TextAlignment="Center" Width="59" RenderTransformOrigin="0.578,0.452" Height="1"/>
	</StackPanel>

	<StackPanel
				VerticalAlignment="Top"
				HorizontalAlignment="Left" Height="46" Width="42" Margin="379,46,0,0"/>


</Grid>
</packages>